body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

/* Common components */

.spacer {
    flex-grow: 1
}

/* Main menu */

#menu {
    height: 100vh;
    width: 15vw;
    color: white;
    background-color: #4782a7;

    padding: 0px 20px 0px 20px;

    display: flex;
    flex-direction: column;
}

#menu header {
    margin-top: 30px;
}

#menu nav {
    margin: 20px 0 20px 0;
}

#menu header img {
    max-height: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

/* Main */

#main {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.content {
    margin: 50px;
    height: 100%;
    flex-flow: 1;
    max-width: 700px;
    flex-grow: 1;
}

.text-content {
    width: 50vw;
    max-width: 700px;
    height: 100%;
    margin: auto;
}

#map {
    height: 100%;
    width: 100%;
}

.sidebar {
    background-color: #e9f7ff;
    width: 300px;
    margin: 10px;
}


/* Chat */

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chat-compose {
    width: 100%;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin: 10px;
    list-style-type: none;
}

.message {
    paddig: 5px;
}

.message-from {
    font-weight: lighter;
}

.message-body {
    margin-left: 2em;
}

/* Roster */

.roster {
    list-style-type: none;
}

.roster-item a {
    text-decoration: none;
}

.roster-item a:hover {
    font-weight: 600;
}

.roster-item-selected {
    font-weight: 600;
}


/* Posts */

/* post compose form */
.post-compose {
    width: 100%;
    border-bottom: solid 0.5px grey;
    margin-right: 50px;
}

.post-compose ul {
    list-style-type: none;
}

.post-compose li {
    display: flex;
    flex-direction: row;
}

.post-compose label {
    min-width: 120px;
}

.post-compose input {
    flex-grow: 1;
}

.post-compose textarea {
    height: 60px;
    flex-grow: 1;
}

/* The posts view */

ul.posts {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.posts li {
    border-bottom: solid 0.3px grey;
}

.post {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.post-meta {
    text-align: right;
    align-self: flex-end;
    color: grey;
}

/* an individual atom entry */
.atom-entry {
}
