body {
    font-family: sans-serif;
}
#container {
    display: flex;
}
#sidebar {
    height: 98vh;
    width: 35vw;
    margin: auto;
    overflow-y: scroll;
}
#mapid {
    height: 98vh;
    width: 65vw;
    margin: auto;
}

#timeline hr {
    color: lightgrey;
}

.activity {
    min-height: 70px;
}

.activity .meta {
    color: grey;
    font-weight: light;
    font-size: small;
    margin: 10px;
}

.activity:hover {
    background-color: red;
}

.activity .meta .published {
    float: right;
}

.activity .object .note-content {
    margin-left: 30px;
}

#create-note #text-input{
    width: 90%;
}

#create-note #send-button{
    margin-top: 5px;
    margin-left: 60%;
    width: 35%;
}

dl dt {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #1f2041;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #e9d2c0;
}

nav li .active {
    background-color: #e9d2c0;
}
