body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
}

#topbar {
    width: 100vw;
    height: 70px;
    /* flex: 0 0 15vw; */
    margin: auto;
    background-color: #4782a7;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#topbar header {
    margin-left: 20px;
}

nav {
    margin: 0 0 0 50px;
}

nav ul {
    list-style-type: none;
    margin: auto 0 auto 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px 0 20px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

main {
    overflow: auto;
}

.ui-page {
    margin: 50px;
}

#mapid {
    margin: auto;
}

.object {
}

.object header {
}

.object header .raw-id {
    color: grey;
    font-size: medium;
    margin-left: 10px;
}

.object header .raw-id a {
    color: grey;
}

.object header .subtitle {
    color: grey;
    font-size: medium;
}

.object pre {
    overflow: auto;
    width: 80%;
    padding: 10px;
}

.object .object-property-list dd {
    margin-bottom: 2em;
}


.activity {
    margin: 15px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.activity .meta {
    color: grey;
    font-weight: light;
    font-size: small;
    margin: 10px;
}

.activity details {
    font-weight: light;
    font-size: small;
}

.activity .meta .type {
    margin-left: 10px;
}

.activity .meta .published {
    float: right;
}
