body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#topbar {
    width: 100vw;
    height: 70px;
    /* flex: 0 0 15vw; */
    margin: auto;
    background-color: #4782a7;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#topbar header {
    margin-left: 20px;
}

#topbar nav {
    margin: 0 0 0 50px;
}

#topbar nav ul {
    list-style-type: none;
    margin: auto 0 auto 0;
    padding: 0;
}

#topbar nav li {
    display: inline;
    margin: 0 20px 0 20px;
}

#topbar nav li a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}


.ui-page {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    overflow: auto;
}

.ui-page .sidebar {
    flex-basis: 15rem;
    border-right: 0.2px solid lightgrey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ui-page .sidebar nav ul {
    list-style-type: none;
}

.ui-page .sidebar nav ul li {
    margin: 20px 0 20px 0;
    font-size: 1.2em;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-container .toolbar {
    height: 20px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.ui-page main {
    overflow: auto;
    margin-top: 20px;
    margin-left: 30px;
    flex-grow: 1;
}

.object {
}

.object header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.object header .icon {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}

.object header .raw-id {
    color: grey;
    font-size: medium;
}

.object header .raw-id a {
    color: grey;
}

.object details {
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    font-size: medium;
    max-width: 80%;
}

.object .object-content {
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    max-width: 80%;
}

.object .object-property-list dd {
    margin-bottom: 1em;
}

.activity {
    margin: 15px;
    padding: 10px;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.activity .icon img {
    max-width: 40px;
    max-height: 40px;
}

.activity span {
    margin: 0.3em;
}
